body {background-color: rgb(164, 201, 207);}

button {
    background-color: #3f150f;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color:rgb(109, 209, 63);
}